/* estilos generales */
/* formateo todo a 0 */
*{
    margin: 0px;
    padding: 0px;
}

/* aplico color de fondo a la página y fuente */
body {
    background-color: #f7f6f0;
    font-family: 'Montserrat', sans-serif;
}

/* Estilos menus navegación*/

/* menu-nav */
.menu-nav ul li a {
    text-decoration: none;
    list-style: none;
    position: relative;
}

.menu-nav ul {
    text-align: right;
    padding-top: 0.3rem;
}

.menu-nav ul li {
    display: initial ;
    margin: 0px 10px;
}

.menu-nav li {
    text-decoration: none;
    list-style: none;
}

.menu-nav ul li a::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 2px;
    background: currentColor;

    transform: scaleX(0);
    transform-origin: right;
    transition: transform 250ms ease-in;
}

.menu-nav ul li a:hover::after {
    transform: scaleX(1);
    transform-origin: left;
}

/* menu-nav__proyectos */
.menu-nav__proyectos ul li a {
    text-decoration: none;
    list-style: none;
}

.menu-nav__proyectos ul {
    text-align: center;
    padding-top: 0.3rem;
}

.menu-nav__proyectos ul li {
    display: initial ;
    margin: 0px 10px;
}

.menu-nav__proyectos li {
    text-decoration: none;
    list-style: none;
}

.menu-nav__proyectos ul li a:hover {
    text-decoration: underline;
}

/* estilos header */
header {
    padding: 0.5rem;
    background-color: #f7f6f0;
    position: sticky;
    top: 0px;
}

/* estilso footer */
footer {
    text-decoration: none;
    padding: 0.5rem;
    background-color: #f7f6f0;
    text-align: right;
}

footer img {
    width: 50px;
    height: 50px;
}

footer li {
    text-decoration: none;
    list-style: none;
}

/* index */
.main-index {
    position: relative;
    text-align: center;
    display: flex;
    padding: 1rem;
}

.h1-index {
    position: absolute;
    top: 30%;
    left: 40%;
    font-size: 5rem;
}

.h2-index {
    position: absolute;
    top: 40%;
    left: 33%;
    font-size: 4rem;
}

.main-image {
    width: 100%;
}

.article-index{
    padding: 1rem;
    margin: 0.2rem;
    text-align: center;
    font-size: 1.5rem;
}

/* Servicios */
.servicios-containter {
    margin-top: 2rem;
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-template-rows: repeat(1,1fr);
    gap: 10rem;
    width: 400px;
    text-align: justify;
    text-justify: inter-word;
    padding: 2rem;
}

.servicios-containter img {
    width: 400px;
    height: 500px;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
}

.h1-servicios {
    padding-left: 2rem;
}

/* Proyectos */

.proyectos-container{
    display: grid;
    grid-template-rows: repeat(2,1fr);
    grid-template-columns: repeat(3,1fr);
    justify-content: center;
    padding-left: 1rem;
}

.proyectos-caja img {
    width: 400px;
    height: 500px;
    border: 2px solid black;
    margin: 20px;
}

/* .proyectos-container {
    margin-top: 2rem;
    display: grid;
    grid-template-rows: repeat(2,1fr);
    grid-template-columns: repeat(3,1fr);
    gap: 1rem;
    padding: 2rem;
}

.proyectos-container img {
    display: grid;
    width: 400px;
    height: 600px;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    border: 0.5rem;
} */

.h1-proyectos {
    padding-left: 2rem;
}


/* Proyecto 1 */
.h1-proyecto1 {
    padding-left: 2rem;
}

.proyecto1-container p {
    padding-left: 2rem;
}

.proyecto1-container img {
    width: 400px;
    height: 500px;
    padding: 2rem;
}

/* Proyecto 2 */
.h1-proyecto2 {
    padding-left: 2rem;
}

.proyecto2-container p {
    padding-left: 2rem;
}

.proyecto2-container img {
    width: 400px;
    height: 500px;
    padding: 2rem;
}

/* Proyecto 3 */
.h1-proyecto3 {
    padding-left: 2rem;
}

.proyecto3-container p {
    padding-left: 2rem;
}

.proyecto3-container img {
    width: 400px;
    height: 500px;
    padding: 2rem;
}

/* Proyecto 4 */
.h1-proyecto4 {
    padding-left: 2rem;
}

.proyecto4-container p {
    padding-left: 2rem;
}

.proyecto4-container img {
    width: 400px;
    height: 500px;
    padding: 2rem;
}

/* Proyecto 5 */
.h1-proyecto5 {
    padding-left: 2rem;
}

.proyecto5-container p {
    padding-left: 2rem;
    text-align: justify;
    text-justify: inter-word;
    width: 1340px;
}

.proyecto5-container img {
    width: 400px;
    height: 500px;
    padding: 2rem;
}

/* Proyecto 6 */
.h1-proyecto6 {
    padding-left: 2rem;
}

.proyecto6-container p {
    padding-left: 2rem;
}

.proyecto6-container img {
    width: 400px;
    height: 500px;
    padding: 2rem;
}

/* Nosotras */
.nosotras-container {
    display: flex;
    align-items: center;
}

.nosotras-container img {
    padding-top: 2rem;
    padding-left: 2rem;
}

.nosotras-container p {
    font-size: 1.3rem;
    padding-left: 1rem;
    padding-right: 2rem;
    text-align: justify;
    text-justify: inter-word;
}

.h1-nosotras {
    padding-left: 2rem;
}

/* Contacto */
.contacto-container {
    display: flex;
    align-items: center;
}

.contacto-container img {
    padding-top: 2rem;
    padding-left: 2rem;
    width: 600px;
    height: 600px;
    margin: 1.5rem;
    font-size: 3rem;
}

.h1-contacto {
    padding-left: 2rem;
}

/* Media Queries */
@media only screen and (max-width:768px) {

}

@media only screen and (max-width:576px) {
/* estilos generales */
header {
    flex-direction: column;
}

.menu-nav ul {
    text-align: center;
}

/* estilos index */

.h1-index {
    position: absolute;
    top: 30%;
    left: 18%;
    font-size: 4rem;
}

.h2-index {
    position: absolute;
    top: 55%;
    left: 25%;
    font-size: 1.5rem;
}

/* estilos servicios */

.servicios-containter {
    grid-template-columns: repeat(1,1fr);
    grid-template-rows: repeat(3,1fr);
    gap: 3rem;
}

.h1-servicios {
    padding-top: 1.5rem;
}

/* estilos proyectos */

.h1-proyectos {
    padding-top: 1.5rem;
}

/* estilos nosotras */

.nosotras-container {
    flex-direction: column;
}

.h1-nosotras {
    padding-top: 1.5rem;
}

/* estilos contaco */
.h1-contacto {
    padding-top: 1.5rem;
}
.contacto-container {
    flex-direction: column;
}

}